/* @font-face {
font-family: 'riverflows';
src: url(fonts/riverflows/RIVERFLOWS.ttf) format(opentype);
}
*/

*   {
    box-sizing: border-box;
}

.gallerycontainer {
    position: relative;
    vertical-align: middle;
  }

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(255, 236, 236, 0.1);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Black background color on hover with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(255, 236, 236, 0.1);
}

#btnlink {
    background-color: #928e8eb4;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    width: 50vw;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
    text-align: center;
}

li {
    float: left;
    border-right: 1px solid rgba(85, 85, 85, 0.75);
}

li:last-child {
    border-right: none;
}

li a {
    padding: 25px 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(78, 78, 78);
}

li a:hover {
    background-color: rgb(78, 78, 78);
}

.activepage {
    background-color: rgb(78, 78, 78);
}

/* text positioning middle */
.text-style {
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal,
}

/* link color */
.back-link a {
    color: #e0e4e0;
    text-decoration: none;
}

/* link color when hovering over or focussing */
.back-link a:hover,
.back-link a:focus {
    color: #6e746d;
    text-decoration: none;
}

h1 {
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 3px;
    position: relative;
    color: black;
}

/* headline seen before animation bc z-index 10001 */
.entry-title {
    text-align: left;
    margin: 0 auto 50px auto;
    width: 80%;
    max-width: 1000px;
    position: relative;
    z-index: 10001;
    color: black;
}

#paddingtop {
    padding-top: 100px;
}

/* background */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* older browsers fallback */
    background-color: rgba(0, 0, 0, 0.4);
    /* newer browsers*/
}

/* modal content box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    /* round corners */
    z-index: 20000;
    position: relative;
    align-items: center;
}

/* close button */
.close1,
.close2,
.close3,
.close4,
.close5,
.close6 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* close button hover and focus options */
.close1,
.close2,
.close3,
.close4,
.close5,
.close6:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close1,
.close2,
.close3,
.close4,
.close5,
.close6:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* buttons */

/* center the button lol */
.cennnterrr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#btnid {
    /*background-image: url(lastwish.jpg);
background-size: 100% auto;
background-position: center;
background-repeat: no-repeat;*/
    background-color: #928e8eb4;
    /* padding-right: 54%;
padding-left: 46%;
padding-left: 25vw;
padding-right: 25vw;*/
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    width: 50vw;
}

#btnid2 {
    /* background-image: url(lastwish.jpg);
background-size: 100% auto;
background-position: center;
background-repeat: no-repeat;*/
    background-color: #928e8eb4;
    /* padding-right: 54%;
padding-left: 46%;
padding-left: 25vw;
padding-right: 25vw;*/
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    width: 50vw;
}

#btnid3 {
    /* background-image: url(lastwish.jpg);
background-size: 100% auto;
background-position: center;
background-repeat: no-repeat;*/
    background-color: #928e8eb4;
    /* padding-right: 54%;
padding-left: 46%;
padding-left: 25vw;
padding-right: 25vw;*/
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    width: 50vw;
}

#btnid4 {
    /* background-image: url(lastwish.jpg);
background-size: 100% auto;
background-position: center;
background-repeat: no-repeat;*/
    background-color: #928e8eb4;
    /* padding-right: 54%;
padding-left: 46%;
padding-left: 25vw;
padding-right: 25vw;*/
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    width: 50vw;
}

#btnid5 {
    /* background-image: url(lastwish.jpg);
background-size: 100% auto;
background-position: center;
background-repeat: no-repeat;*/
    background-color: #928e8eb4;
    /* padding-right: 54%;
padding-left: 46%;
padding-left: 25vw;
padding-right: 25vw;*/
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    width: 50vw;
}

#btnid6 {
    /* background-image: url(lastwish.jpg);
background-size: 100% auto;
background-position: center;
background-repeat: no-repeat;*/
    background-color: #928e8eb4;
    /* padding-right: 54%;
padding-left: 46%;
padding-left: 25vw;
padding-right: 25vw;*/
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    width: 50vw;
}

/* wallpaper */

#mainwallpaper {
    background: url(loading.png);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80vw;
    max-width: 1000px;
    z-index: 5;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}